.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9DF98;
    padding: 15px 20px;
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.header-title{
    font-size: large;
    font-weight: bold;
}

body {
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.signup-link,
.login-link {
    color: #aad0a5;
    text-decoration: none;
    font-weight: 500;
}

#logout-btn {
    cursor: pointer;
}
